@model DeliveryViewModels

<div class="container">    

    <div>
        <h3>  Доставка</h3>
        <p>Доставка можлива по всій території України окрім тимчасово окупованих територій. В залежності від вибору, доставка може бути здійснена наступними транспортними компаніями:</p>
        <ul>
            <li>ТК "Нова Пошта" - При доставці компанією "Нова Пошта" ваше замовлення буде відправлене на наступний день після замовлення. Доставка займає від 1 до 2 днів. Зверніть увагу! При доставці до складу транспортної компанії, замовлення зберігається на складі не більше 6 робочих днів, після чого відправляється назад! Отримати замовлення може тільки людина, зазначена у транспортній декларації як одержувач. При собі необхідно обов'язково мати посвідчення особи! Інформацію, щодо тарифів можна уточнити на сайті компанії перевізника.</li>
            <li>ТК "Meest Express" - При доставці компанією "Meest Express" ваше замовлення буде відправлене на наступний день після замовлення. Доставка займає від 1 до 3 днів. Зверніть увагу! При доставці до складу транспортної компанії, замовлення зберігається на складі не більше 5 робочих днів, після чого відправляється назад! Отримати замовлення може тільки людина, зазначена у транспортній декларації як одержувач. При собі необхідно обов'язково мати посвідчення особи! Інформацію, щодо тарифів можна уточнити на сайті компанії перевізника.</li>
        </ul>
        <h3>  Оплата</h3>
        <p>Оплата Готівкою - розрахунок із компанією - перевізником на момент отримання товару (накладним платежем);Оплата здійснюється готівкою в гривнях, під час  доставки кур’єром, або у відділі транспортної компанії.</p>
        <ul>
            <li>"Нова Пошта": 2% від вартості товару + 20 грн за оформлення переказу</li>
            <li>"Meest Express":  2% від вартості товару + 20 грн за оформлення переказу</li>
        </ul>
        <p>Безготівкова оплата - Приват24 / Visa / Master Card / Liq Pay:</p>
        <ul>
            <li>Миттєвий розрахунок банківською карткою через сервіс online платежів Liq Pay який включає в себе оплату картками Mastercard/Visa, оплату готівкою в терміналах та інтернет-банкінг Приват24.</li>
            <li>Оплата за допомогою системи Приват24. Для цього методу оплати Вам необхідно зайти у систему Приват24. У головному меню вибрати закладку "Усі послуги" пункт "Переказ на карту ПриватБанку", після чого, заповнити форму на переказ коштів, у поле "На картку / рахунок" вписуєте отримнні від нас реквізити. У полі "Призначення платежу" Ви обов`язково вписуєте "Оплата замовлення, своє Прізвище, Ім`я, По батькові, Номер замовлення"</li>

        </ul>
        <h3> Повернення товару</h3>
        <p>Згідно Закону «Про захист прав споживачів», кожен покупець має право протягом 14 днів обміняти або повернути куплений товар. Дані правила обміну поширюються на непродовольчий товар належної якості за умови, що він не використовувався і зберіг товарний вигляд, споживчі властивості, пломби та ярлики.</p>
    </div>



</div>